@import '../../index.css';

.lesson{
    &__list{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-left: 20px;
    }
    &__item{
        width: 380px;
        min-height: 150px;
        background: var(--bg-color);
        margin: 0 5px 24px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        overflow: hidden;
        color: inherit;
        cursor:pointer;

        display: flex;
        justify-content: center;
        flex-direction: row;

        &:hover{
            transform: scale(1.05);
        } 

        &--locked{
            background: transparent;
            &:hover{
                transform: none;
            }

            .lesson__status{
                span{
                    color:red;
                }
            }
        }

        &--selected{
            box-shadow: var(--color-green) 0px 5px 10px;
            width: 380px;
            min-height: 150px;
            background: var(--bg-color);
            margin: 0 5px 24px;
            border-radius: 4px;
            overflow: hidden;
            color: inherit;
            cursor:pointer;
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

    @media (max-width:576px) {
        width: 310px;
        min-height: 308px;
        margin-bottom: 32px;
    }

    &:visited{
        color: inherit;
    }

    }

    &__img{
        width: 70%;
        img{
            width: 100%;
            min-height: 150px;
            object-fit: cover;

        }
        
    }
    &__info{
        margin: 10px 10px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    &__title{
        font-size: 16px;
        font-weight: var(--fw-bold);
    }

    &__status{
        align-self:start;
        justify-self: start;
        span{
            color: var(--color-green)
        }
    }
}