
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FFFFFF;
  --bg-app-color: #F9FAFF;
  --text-color-light: #6E798C;
  --text-color-dark: #041721;
  --color-green:rgb(46, 187, 121);
  --color-violet: rgba(67, 35, 207);
  --color-orange: rgba(237, 88, 47);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: var(--bg-app-color) ;

  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
